<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<style type="text/css">
		.jumbotron {
			width: 400px;
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}

	</style>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript">
		angular.module("listaTelefonica", []);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope){
			$scope.app="Lista Telefonica";
			$scope.contatos=[
				{nome:"Magnus",telefone:"(85)999996666"},
				{nome:"Arthur",telefone:"(85)988886666"},
				{nome:"Paulo",telefone:"(85)977776666"},
			];
			$scope.adicionarContato = function () {
				$scope.contatos.push({nome: $scope.nome, telefone: $scope.telefone});
			};
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h4 ng-bind="app"></h4>
		<table class="table table-striped">
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
			</tr>
			<tr ng-repeat="contato in contatos">
				<th>{{contato.nome}}</th>
				<th>{{contato.telefone}}</th>
			</tr>
		</table>
		<input class="form-control" type="text" ng-model="nome">
		<input class="form-control" type="text" ng-model="telefone">
		<button ng-click="adicionarContato()">Adicionar Contato</button>
	</div>
</body>
</html>